name: buildworkflow 
on: pull_request
jobs:
  build:
    runs-on: "self-hosted"
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: "checkout"
        uses: actions/checkout@v2
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Run trufflhog
        run: | 
          C:\Users\sanka\AppData\Roaming\Python\Python310\site-packages\truffleHog\truffleHog.py --json --regex --entropy=False  https://imurpalvicky:${{secrets.GIT_SECRET_TOKEN}}@github.com/imurpalvicky/testnodejsApp > output.json
        id: trufflerun
      - name: ReadTrufflerunFile
        id: setTruffleOutput
        run: |
          content='cat output.json'
          # end of optional handling for multi line json
          echo "::set-output name=trufflescanresult::$content"
      - name: create checks
        uses: LouisBrunner/checks-action@v1.1.1
        if: always()
        with:
          token: ${{ secrets.GIT_SECRET_TOKEN }}
          name: Test XYZ
          conclusion: ${{ job.status }}
          output: |
            {"summary":${{ steps.ReadTrufflerunFile.outputs.trufflescanresult }}}
